body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

aside {
    display: flex;
    align-items: flex-start;
}

.list-container {
    width: 500px;
    background-color: #ffffff;
    padding-bottom: 70px;
    padding-left: 70px;
    padding-right: 70px;
    height: 300px;

}

ul {
    list-style: none;

}

.list-container li {
    border-bottom: 1px solid #bab6bc;
    border-top: 1px solid #bab6bc;
    padding: 30px;
    font-weight: bold;
    font-size: large;
}

a {
    text-decoration: none;
    color: black;
}

.check-symbol {
    font-size: 18px;
    color: #ff26c1;
    margin-right: 10px;
}

.arrow {
    border: solid #ff26c1;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    transition: transform 0.3s ease;
    transform: rotate(45deg);


}

.description {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    font-weight: normal;

}

.description:target {
    display: block;
}

.image {
    width: 800px;
    height: 350px;
    margin-left: 10px;
    padding-left: 0px;
    padding-top: 0px;

}
#photo {
    width: 100%;
    height: 50vh;
    object-fit: cover;

}

#title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    text-align: center;

}

#title2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

#contact {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#intro {
    padding-top: 100px;
    padding-left: 130px;
    padding-bottom: 0;
    font-weight: bold;
    font-size: large;
}

#find {
    padding-top: 100px;
    font-weight: bold;
    font-size: xxx-large;
    text-align: center;
}

#large {
    font-size: x-large;
}

#map {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    padding-top: 0;
}

.container {
    height: 65vh;
    overflow: hidden;
    padding-top: 200px;

}

.scroll-reveal {
    height: 100vh;
    background-image: url('../images/img_3.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#gear-container {
    position: absolute;
    top: 96em;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    z-index: 1;

}

.box {
    width: 40%;
    background-color: rgba(255, 255, 255, .8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

div p {
    text-align: center;
    font-size: 1.1em;
    line-height: 1.4;
}
.review-container {
    position: relative;
    margin: 40px auto;
    background-color: #f9f9f9;
    padding: 100px;
    background-image: url('../images/ReviewBackground.png');
    background-size: cover;
    z-index: 0;


}

.review-box {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rating {
    display: flex;
    margin-bottom: 10px;
    padding-left: 524px;

}


.star {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../images/Star.png');
    background-size: 30px 30px;
    margin-right: 25px;
}

.review-text {
    font-size: 20px;
    line-height: 1.5;
    color: #666;
}

@media (max-width: 768px) {
    .review-container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .review-container {
        width: 100%;
        padding: 10px;
    }
}

.review-box {
    margin-bottom: 10px;

}

#our-word {
    font-size: 60px;
    padding-top: 300px;
    color: #cd0f91;
    padding-left: 100px;
    margin-bottom: -145px;
    z-index: 3;
    position: relative;
    top: -100px;
    text-shadow: 2px 2px 4px #bab6bc;
}

#their-word {
    font-size: 45px;
    margin-bottom: -120px;
    padding-left: 100px;
    text-align: left;
    z-index: 3;
    position: relative;
    color: #1a191a;
    text-shadow: 2px 2px 4px #bab6bc;
    padding-top: 0;
}
