
header nav {
    margin-top: 10px;
}

header img {
    float: none;
    width: 50%;
    margin: 2% 2% 0 2%;
     resize: inline;
}

#header {
    min-height: 50px;
    display: flex;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6); /* White with 60% opacity */
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensures it stays above other content */
    transition: background-color 0.3s; /* Smooth transition */
}

#header:hover {
    background-color: rgb(255, 255, 255); /* Fully opaque on hover */
}

nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    font-family: Arial, sans-serif;
}

nav li {
    float: left;
    display: inline;
    padding: 0 20px 0 15px;

}

nav ul li a {
    color: black;
    font-weight: 20;
    padding: 10px 15px;
    display: block;
    transition: background 0.3s ease, color 0.3s ease;
    border-radius: 50px;
    border: 2px solid black;
    z-index: 1;
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 3px 4px rgb(101, 98, 99);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav ul li a:hover {
    background: linear-gradient(45deg, rgba(244, 152, 237, 0.5), #ff26c1, #a938e1, #3a76ba);
    -webkit-background-clip: text;
    color: transparent;
    transition: background 0.3s ease;
    box-shadow: 0 3px 4px rgb(101, 98, 99);

}


footer {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}